body {
	color:white;

}


.center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
announcement{
color:black
}
.group-name{
	padding-left:15px;
	padding-bottom: 10px;
	font-size: 24px;
}
.topic-header {
	padding-left: 12px;
	color: white;
	font-size: 20px;
}
.topic-details {
	padding-left: 0px;
	font-size: 15px;
}
.topic-description {
	padding-left: 10px;
	color: darkgray;
	font-size: 16px;
}
.box {
	height: 100px;
	width: 560px;
	margin-bottom: 10px;
	color: inherit;
	background: rgba(255, 255, 255, .06);
	border-style:inset;

}
.box:hover {
	filter: brightness(150%);
	background: rgba(255, 255, 255, .1);
}


.move-image {
	position:absolute;
	top:48px;
	left:-23px;

	width: 2156px;
	height: 350px;
	

}
.mini-logo{
	height:50px;
	width:50px;
	margin-top:15px;
}

.login-buttons {
	color: #B0E0E6;
	font-size: 18px;
	
}
.login-fields {
	background-color: #2b013e;
	color: white;
	
	
}
.login-fields:disabled {
	background-color: #2b013e;
	color: white;
	filter: brightness(50%);
}
.long-field {
	width:593px;
	max-width: none;
}
.login-checkbox{
	position:relative;
	left:510px;
}
.move-label{
	position:relative;
	left:-60px;
}
.reg-button{
	width:300px;
	position:relative;
	left:-198px;
}
.move-regbutton {
	position: relative;
	left: 4px;
	width: 280px;
	background-color: darkslateblue;
	border-color: darkslateblue
}
.forgot-button {
	background-color: darkslateblue;
	border-color: darkslateblue;
	width: 270px;
}

.announcement-button1 {
	height: 150px;
	width: 360px;
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
	
}
.announcement-button2 {
	height: 150px;
	width: 360px;
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
	background-color: darkslateblue;
}
.admin-privilageblock  {
	color:white;
	width: 300px;
	text-align: center;
	margin-left: 410px;

	
}
.admin-privilageblock {
	color: white;
	width: 300px;
	text-align: center;
	margin-left: 410px;

	}
.privilege-link {
	padding-right: 10px;
	margin-right:10px;
	float:right;
}
.box1 {
	height: 100px;
	width: 560px;
	margin-bottom: 10px;
	color: inherit;
	background: rgba(255, 255, 255, .06);
	border-style: inset;
}
.box-topic {
	height: 65px;
	width: 1350px;
	display:block;
	margin-bottom: 10px;
	color: inherit;
	background: rgba(255, 255, 255, .06);
	border-style: inset;
}
.box-topic:hover {
	filter: brightness(150%);
	background: rgba(255, 255, 255, .1);
	}
.box-topic2 {
	height: 65px;
	width: 1140px;
	display: block;
	margin-bottom: 10px;
	color: inherit;
	background: rgba(255, 255, 255, .06);
	border-style: inset;
	padding-bottom:50px;
}
.box-topic2:hover {
	filter: brightness(150%);
	background: rgba(255, 255, 255, .1);
}
.section-btn3 {
	position: relative;
	top: -25px;
	left: 100%;
}

.section-btn4 {
	position: relative;
	top: -25px;
	left: 100%;

}

.section-btn1 {
	position: relative;
	top: -25px;
	left: 105%;
}
.section-btn2{		
	position:relative;
	top:-25px;
	left:105.5%;
		
	}

.section-titlebar {
	display: block;
	height: 30px;
	width: 1350px;
	border: 1px solid #ddd;
	border-bottom:none;
	border-radius:5px;
}
.section-titlebar2 {
	display: block;
	height: 30px;
	width: 1140px;
	border: 1px solid #ddd;
	border-bottom: none;
	border-radius: 5px;
}

.section-font {
	font-size:20px;
	font:bold;
}
.my-row {
	flex-direction:row;
	display:flex;
}
.img2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.center {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}
.message-bar {
	display: block;
	height: 30px;
	width: 900px;
	border: 1px solid #ddd;
	border-bottom: none;
	border-radius: 5px;
}
.message-font {
	color: black;
	font-size: 18px;
}
